<h1>New Blood level entries</h1>

<% if @level.errors.any? %>
  <h3>Oops there were some errors. Please try again:</h3>
  <ul>
    <% @level.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @level do |f| %>
  <%= f.label :number %>
  <%= f.number_field(:number, in: 1..20) %>
  <%= f.submit  %>
<% end %>
